@model IEnumerable<EmployersDepartment.Models.SpecialityModel>

@{
    ViewBag.Title = "Specialities";
}

<h2>Specialities List</h2>

<p>
    @Html.ActionLink("Create New", "AddSpeciality")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SpecialityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialityEducation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialityEducation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
